{% extends "hla/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>HLA Database</h1>
    Welcome to the CUH Tissue Typing HLA Database.
    <br>
    Use the boxes below to search by patient number (column 'name' in the old spreadsheets) or by allele (column 'result' in the old spreadsheets).
    Allele frequency as shown is the frequency within this database. For external information click the link in the 'Additional Information' column, if present.
    <br>
    If you need to add the results of a sequencing run, click 'Import Data' at the top of the page.

    <h2>Search</h2>

    <form action="{% url 'home' %}" method="get">
        <input name="q" type="text" placeholder="Search by patient...">
        <button type="submit" class="save btn btn-default">Search</button>
    </form>>

    <br>NB: if searching for DRB3/4/5 results, you will need to specify the locus you want, i.e. 3*01:01

    <form action="{% url 'home' %}" method="get">
        <input name="r" type="text" placeholder="Search by locus...">
        <button type="submit" class="save btn btn-default">Search</button>
    </form>>

    <style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td,th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>


    <ul>
        <table>
        <tr>
            <th>Patient Number</th>
            <th>Test Date</th>
            <th>Locus</th>
            <th>Result</th>
            <th>Confirmed</th>
            <th>Allele Frequency</th>
            <th>Additional Information</th>
        </tr>
        {% for result in object_list %}
            <tr>
                <td>{{ result.patientID.patientNumber }}</td>
                <td>{{ result.testID.testDate }}</td>
                <td>{{ result.locusID.locusName }}</td>
                <td>{{ result.result }}</td>
                <td>{{ result.confirmed }}</td>
                <td>{{ result.alleleFreq }}</td>
                <td>
                    {% for i in result.externalInfo.split %}
                    <a href={{ i }}>{{ i }}</a><br>
                    {% endfor %}
                </td>
            </tr>
        {% empty %}
        No results to show.
        {% endfor %}
        </table>
    </ul>

{% endblock %}
