{% extends "hla/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>HLA Database</h1>
    Print this thing


    <h2>Search</h2>

    <form action="{% url 'home' %}" method="get">
        <input name="q" type="text" placeholder="Search by patient...">
        <button type="submit" class="save btn btn-default">Search</button>
    </form>>

    <form action="{% url 'home' %}" method="get">
        <input name="r" type="text" placeholder="Search by result...">
        <button type="submit" class="save btn btn-default">Search</button>
    </form>>

    <ul>
        {% for result in object_list %}
        <li>
            {{ result.patientID.patientNumber }}, {{ result.testID.testDate }}, {{ result.locusID.locusName }}, {{ result.result }}
        </li>
        {% empty %}
        No results to show.
        {% endfor %}
    </ul>

{% endblock %}
